.title{
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
    color: #7d7d7d;
}

#case{
    height: 37px;
    width: 200px;
    border: 2px solid #7d7d7d;
    border-radius: 10px;
}

.nombre{
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: black;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    background-color: #d6d6d6;
}
.nombre:hover {
    background-color: #7d7d7d;
}

.operator{
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: black;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    background-color: #d6d6d6;
}

.operator:hover{
    background-color: #7d7d7d;
}

.Egal{
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: black;
    border: 2px solid #358540;
    border-radius: 10px;
    background-color: #6bd551;
}

.Egal:hover{
    background-color: #078b18;
}
